*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}

.col-1{
    width: 8.333%;
}

.col-2{
    width: 16.666%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33333333%;
}
.col-5{
    width: 41.66666667%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 75%;
}
.col-8{
    width: 25%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33333333%;
}
.col-11{
    width: 25%;
}
.col-12{
    width: 100%;
}

a{
    text-decoration: none;
    color: blue;
}

button{
    background-color: #ffffff;
    border: 1px solid #000;
    color: #000;
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 6px;
}
button:hover, button:focus{
    background-color: #000;
    color: #fff;
    border-color: #fff;
    cursor: pointer;
}

h1{
    margin: 0.5em 0 0.75em;
    padding: 0;
}
p{
    margin: 0.5em 0 0.75em;
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f6ee;
    background-image: linear-gradient(to right, #ffffff 16.666%, transparent 16.666%);
    padding: 0 1em;
    box-shadow: 0 0 6px 0px #00000047;
    position: sticky;
    top: 0;
    z-index: 1;
}

.brand-logo img{
    height: 80px;
}

header nav ul li{
    display: inline;
}

header nav li{
    margin: 0 20px;
}

header nav a, header nav button{
    color: #000;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 1em;
    background: none;
    cursor: pointer;
}

header nav a:hover, header nav button:hover,
header nav a:focus, header nav button:focus{
    color: blue;
    background: none;
}
.main-page{
    
}
.leftnav{
    background-color: #ecf6ff;
    padding: 2em 0 0;
}
.leftnav ul li a{
    width: 100%;
    display: block;
    padding: 0.75em 1em 0.75em 2em;
    line-height: 1;
    color: #000;
    opacity: 0.6;
}
.leftnav ul li a:hover,
.leftnav ul li a:focus{
    opacity: 1;
}
.leftnav ul li a.active{
    opacity: 1;
    background-color: #0289e7;
    color: #fff;
}
.page-content{
    padding: 1em;
}

.banner {
    width: 100%;
    height: 320px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 2em;
    color: #ffffff;
}
.banner:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    left: 0;
    top: 0;
    z-index: -1;
}

.banner .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.banner .banner-content {
    width: 50%;
}

footer{
    font-size: 0.6em;
    text-align: center;
    line-height: 0.6em;
    padding: 10px;
    background-color: #000;
    color: #fff;
}